[defaults]
inventory            = inventory/hosts.ini
roles_path           = roles
remote_user          = ubuntu
host_key_checking    = False
retry_files_enabled  = False
interpreter_python   = auto_silent
stdout_callback      = default
callback_result_format = yaml
deprecation_warnings = False
timeout              = 30

[privilege_escalation]
become              = True
become_method       = sudo
become_user         = root
become_ask_pass     = False

[ssh_connection]
pipelining = True
